<html>
	<head>
		<script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="js/datatable.filter.js"></script>
		<link rel="stylesheet" href="css/overcast/jquery-ui-1.8.23.custom.css" type="text/css" media="all" />
		<script>
		$(document).ready(function() {
		    var playerTable = $('#players').dataTable( {
		        "bJQueryUI": true
		    } );

		    /* Add a select menu for each TH element in the table footer */
		    $("#players tfoot th").each( function ( i ) {
		        this.innerHTML = fnCreateSelect( playerTable.fnGetColumnData(i) );
		        $('select', this).change( function () {
		            playerTable.fnFilter( $(this).val(), i );
		        } );
		    } );
		} );
		</script>
	</head>
	<h1>Player Viewer</h1>

	<table id="players">
		<thead>
			<tr>
				<th>Name</th>
				<th>Team</th>
				<th>Position</th>
				<th>Total Points</th>
			{{range  getWeekHeaders . }}
				<th>{{.}}</th>
			{{end}}
			</tr>
		</thead>
		<tbody>
		{{range .AllPlayers}}
			<tr>
				<td>{{.Name}}</td>
				<td>{{.Team}}</td>
				<td>{{.Position.String}}</td>
				<td>{{.TotalPoints}}</td>
				{{range .Points}}
					<td>{{.}}</td>
				{{end}}
			</tr>
		{{end}}
		</tbody>
		<tfoot>
			<th></th>
			<th></th>
			<th></th>
		</tfoot>
	</table>
</html>